.page-intro {
  background-color: @basic-darkblue;
}

.page-intro__headline {
  .headline(36px);

  color: @white;
}

.page-intro__link {
  .headline(20px);

  text-transform: uppercase;
  color: @white;
}
